.navbar {}

.navbar-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__link {
  margin-right: 30px;
}

.navbar__link a{
  text-decoration: none;

  color: #000;

  display: flex;
  align-items: center;
  height: 50px;
}

.navbar__link a:hover{
  color: #4da0da;
}
